/.sconsign.dblite
/build
/bin
/src/doc/doc
/Makefile.config
/Darwin-*
/*.kdev*
/Linux-*
*.o
*.cmake
*.txt
*.make
*.marks
*.includecache
*.internal
*.kdev4
*.bin
*.check_cache
*.out
*.log
/bin
/CMakeFiles
Makefile
*.a
*.so
py/partio.py
src/doc/Doxyfile
src/py/*_wrap.cxx
*~
__pycache__
workspace.mel
/dist
/partio.egg-info
