py/partio.py linguist-generated
src/doc/Doxyfile linguist-generated
src/doc/Makefile linguist-generated
src/lib/Makefile linguist-generated
src/py/Makefile linguist-generated
src/py/partioPYTHON_wrap.cxx linguist-generated
src/tests/Makefile linguist-generated
src/tools/Makefile linguist-generated
